<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

      <img src="http://www.lanimot.com/assets/lanimot_logo-d6dd4152d83c5458b4aa992900ebfcdb.png" alt="Lanimot Logo" width="300px">
      <br/>
    <h1>Hi bb</h1>
    <p>
      Check it out, someone signed up for lanimot!
    </p>
    <p>Name: <%= @params[:first_name] %> <%= @params[:last_name] %></p>
    <p>Email: <%= @params[:email] %> </p>
    <p>I sent them an automatic email thanking them for signing up. Cool.</p>
    <p>Yours truly,</p>
    <p>Mochi</p>
  </body>
</html>