<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">

      <h1>Hi, <%= @user%>!</h1>
      <p>
        Thanks for joining our e-mail list! We'll let you know of any updates coming up and when we've launched our site.
        <br/>
      
      </p>
      <p>Thanks again and have a great day!</p>
      <p>-The Lanimot Team</p>
    </div>
  </body>
</html>