<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">

    <img src="http://www.lanimot.com/assets/lanimot_logo-d6dd4152d83c5458b4aa992900ebfcdb.png" alt="Lanimot Logo" width="300px">
<br/>
      <h1>Hi, <%= @user%>!</h1>
      <p>
        Thanks for joining our e-mail list! We'll let you know of any updates coming up and when we've launched our site.
        <br/>
      
      </p>
      <p>Thanks again and have a great day!</p>
      <p>-The Lanimot Team</p>
    </div>
  </body>
</html>