
<div class="row">
<h1>Contact</h1>

<p>Thanks for trying to reach us! Please email <a href="mailto:lanimot@egmail.com">lanimot@gmail.com</a> for your questions or if you would like to contribute to our project :)</p>

</div>