
<div class="row">
    
    <%= render partial: 'users/user_snapshot' %>

    <div class="small-12 large-6 columns">
        <h2>Posts</h2>
        <%= render template: 'posts/new' if @user.id == current_user.id %>
        <% if @user.posts.length == 0 %>
            <p>You have no posts yet!</p>
        <% else %>
            <% @user.posts.reverse.each do |post| %>
            <p><%= post.content %> <br> <%= post.created_at %></p>
            <p>-----------</p>
            <% end %>
        <% end %>
    </div>
   

</div>


