<div class="row footer">
  <div class="small-6 large-12 columns">
    <ul>
      <li>
        <a href="/contact">Contact</a>
        <a href="/feedback">Submit Feedback</a>
        <a href="/donate">Donate</a>
      </li>
    </ul>
  </div>
</div>