


<div class="mailer" style="display:none;">
This site is currently under construction. <br/>
Sign up for our e-mail list to know when we've launched!
<br/><br/>

<p>French Algerian philosopher Jacques Derrida introduced the term “l’animot” as an alternative to the [group singular] “animeaux” and “animal,” as these words offer one limiting referent for what is, in actuality, a capacious category of species that includes humans. L’animot rejects the human/animal binary that separates out one species from the rest our shared animal kingdom
<br/><br/>
In recognizing that humans are animals, and that we are all l’animot, a moral imperative emerges: veganism. Once we remove the arbitrary barriers to empathy that have been constructed between species, we can recognize others as unique individuals with the right to bodily integrity and autonomy.
<br/><br/>
L’animot is a community of people seeking nourishment through a vegan lifestyle. We honor the power of creative arts to express the deeply held convictions that guide our lives. We welcome artistic submissions, creative essays, and others works made by vegans about compassionate, just living. This is a space for connection, support, and inspiration.
<br/><br/>
L’animot. It feels good to be free.</p>

<div class="row">
  <div class="small-12 large-12 columns mailer-form">
      <form action="/mailer" method="post">
        <p><input type="text" name="first_name" placeholder="First Name"></p>
        <p><input type="text" name="last_name" placeholder="Last Name"></p>
        <p><input type="text" name="email" placeholder="Email"></p>
        <p><input type="submit" value="Keep me posted!" class="button radius"></p>
      </form>
    </div>
</div>

</div>


<script>
$(document).ready(function(){ 
  $('.header').fadeIn(2000);
  $('.mailer').delay( 800 ).fadeIn(2000);

});
</script>